@font-face
{
    font-family: LogoFont;
    src: url("logo_font.ttf");
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body
{
    min-height: 100%;
    background-image: url("background-1.jpg");
}

header
{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 20%;
    background: transparent;
    backdrop-filter: drop-shadow(0 5rem 0.75rem black) blur(5px);
}

header .logo
{
    display: flex;
    align-items: center;
}

header .logo .logo-part-1, header .logo .logo-part-2
{
    font-family: LogoFont;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

header .logo .logo-part-1
{
    color: rgb(216, 113, 17);
    transition: all .5s ease;
}

header .logo .logo-part-2
{
    color: rgb(206, 67, 43);
    transition: all .5s ease;
}

header .logo:hover > .logo-part-1
{
    scale: 1.1;
}

header .logo:hover > .logo-part-2
{
    scale: 0.95;
}

.navbar
{
    display: flex;
    list-style: none;
}

.navbar li
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(206, 67, 43);
    font-family: LogoFont;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 30px;
    cursor: pointer;
    transition: all .5s ease;
}

.navbar li:hover
{
    scale: 0.95;
}
